<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="WinDriver_Path" value="C:\Program Files (x86)\Windows Application Driver\WinAppDriver.exe" />
		<add key="WinAppDriverPortNumber" value="4723" />
		<add key="Implicit_wait_time" value="150" />
		<add key="Device_Name" value="HC-TRAINEE29-NB" />
	</appSettings>
</configuration>